@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

html,
body {
   --custom-font-family: "Raleway", sans-serif;
   --custom-bg-color: #ececec;
   --custom-panel-color: #fff;
   --custom-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.8);
   --custom-color: #000;
   --custom-color-brand: #3d2c5b;
   --custom-color-secondary: #090f32;
   --custon-color-tertiary: #3d5a80;
   --custom-border: 1px solid #333;
   --custom-border-radius: 0.25em;
   --custom-spacing: 3px;
   padding: 0;
   margin: 0;
   font-family: var(--custom-font-family);
   background-color: var(--custom-bg-color);
   scroll-behavior: smooth;
}

::-webkit-scrollbar {
   width: 6px;
}

::-webkit-scrollbar-track {
   background: #3d2c5b;
}

::-webkit-scrollbar-thumb {
   background-color: #ccc;
   border-radius: 20px;
   margin: 5px solid #fff;
}

* {
   color: var(--custom-color);
   font-family: var(--custom-font-family);
   box-sizing: border-box;
}

html,
body,
#__next {
   height: 100%;
   width: 100%;
   overflow-x: hidden;
   background: #2f2a64;
}

/* Grid */

.container {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
}

.row {
   position: relative;
   width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
   width: 100%;
}

.col-1-sm {
   width: 4.33%;
}

.col-2-sm {
   width: 12.66%;
}

.col-3-sm {
   width: 21%;
}

.col-4-sm {
   width: 29.33%;
}

.col-5-sm {
   width: 37.66%;
}

.col-6-sm {
   width: 46%;
}

.col-7-sm {
   width: 54.33%;
}

.col-8-sm {
   width: 62.66%;
}

.col-9-sm {
   width: 71%;
}

.col-10-sm {
   width: 79.33%;
}

.col-11-sm {
   width: 87.66%;
}

.col-12-sm {
   width: 96%;
}

.row::after {
   content: "";
   display: table;
   clear: both;
}

.hidden-sm {
   display: none;
}

@media only screen and (min-width: 45em) {

   /* 720px */
   .col-1 {
      width: 4.33%;
   }

   .col-2 {
      width: 12.66%;
   }

   .col-3 {
      width: 21%;
   }

   .col-4 {
      width: 29.33%;
   }

   .col-5 {
      width: 37.66%;
   }

   .col-6 {
      width: 46%;
   }

   .col-7 {
      width: 54.33%;
   }

   .col-8 {
      width: 62.66%;
   }

   .col-9 {
      width: 71%;
   }

   .col-10 {
      width: 79.33%;
   }

   .col-11 {
      width: 87.66%;
   }

   .col-12 {
      width: 96%;
   }

   .hidden-sm {
      display: block;
   }
}

/* Forms */

label {
   display: block;
   margin: 5px 0;
   color: var(--custom-color-secondary);
   font-size: 0.8rem;
   text-transform: uppercase;
}

input,
textarea,
.form-control {
   width: 100%;
   border-radius: 5px;
   border: var(--custom-border);
   padding: 10px;
   font-size: 0.9rem;
   background-color: #eae9f282;
   justify-content: center;
   color: var(--custom-color);
   margin: 10px auto;
   color: #000;
}

input[disabled] {
   color: var(--custom-color-secondary);
}

/* Utils */

.block {
   display: block;
   width: 100%;
}

.inline-block {
   display: inline-block;
   width: 100%;
}

.flex {
   display: flex;
}

.flex.column {
   flex-direction: column;
}

.flex.row {
   flex-direction: row;
}

.flex.flex-1 {
   flex: 1 1 0;
}

.flex-end {
   justify-content: flex-end;
}

.flex-center {
   justify-content: center;
}

.items-center {
   align-items: center;
}

.text-sm {
   font-size: 0.8rem;
   font-weight: 300;
}

.text-right {
   text-align: right;
}

.font-light {
   font-weight: 300;
}

.opacity-half {
   opacity: 50%;
}

/* Button */

button,
.button {
   color: var(--custom-color);
   border: var(--custom-border);
   background-color: var(--custom-bg-color);
   display: inline-block;
   text-align: center;
   border-radius: var(--custom-border-radius);
   padding: 0.5rem 1rem;
   cursor: pointer;
   text-align: center;
   font-size: 0.9rem;
   text-transform: uppercase;
}

button.primary,
.button.primary {
   background-color: var(--custom-color-brand);
   border: 1px solid var(--custom-color-brand);
}

/* Widgets */

.card {
   width: 100%;
   display: block;
   border: var(--custom-border);
   border-radius: var(--custom-border-radius);
   padding: var(--custom-spacing);
}

.avatar {
   border-radius: var(--custom-border-radius);
   overflow: hidden;
   max-width: 100%;
}

.avatar.image {
   object-fit: cover;
}

.avatar.no-image {
   background-color: #333;
   border: 1px solid rgb(200, 200, 200);
   border-radius: 5px;
}

.footer {
   position: absolute;
   max-width: 100%;
   bottom: 0;
   left: 0;
   right: 0;
   display: flex;
   flex-flow: row;
   border-top: var(--custom-border);
   background-color: var(--custom-bg-color);
}

.footer div {
   padding: var(--custom-spacing);
   display: flex;
   align-items: center;
   width: 100%;
}

.footer div>img {
   height: 20px;
   margin-left: 10px;
}

.footer>div:first-child {
   display: none;
}

.footer>div:nth-child(2) {
   justify-content: left;
}

@media only screen and (min-width: 60em) {

   /* 960px */
   .footer>div:first-child {
      display: flex;
   }

   .footer>div:nth-child(2) {
      justify-content: center;
   }
}

@keyframes spin {
   from {
      transform: rotate(0deg);
   }

   to {
      transform: rotate(360deg);
   }
}

.mainHeader {
   width: 100%;
   font-size: 1.3rem;
   margin-bottom: 20px;
}

.avatarPlaceholder {
   border: var(--custom-border);
   border-radius: var(--custom-border-radius);
   width: 35px;
   height: 35px;
   background-color: rgba(255, 255, 255, 0.2);
   display: flex;
   align-items: center;
   justify-content: center;
}

.form-widget {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.form-widget>.button {
   display: flex;
   align-items: center;
   justify-content: center;
   border: none;
   background-color: #444444;
   text-transform: none !important;
   transition: all 0.2s ease;
}

.form-widget .button:hover {
   background-color: #2a2a2a;
}

.form-widget .button>.loader {
   width: 17px;
   animation: spin 1s linear infinite;
   filter: invert(1);
}

.clearfix {
   display: block;
}

.float-left {
   float: left;
}

.float-right {
   float: right;
}

.btn-custom {
   --bs-btn-color: #fff;
   --bs-btn-bg: #470abe;
   --bs-btn-border-color: #470abe;
   --bs-btn-hover-color: #fff;
   --bs-btn-hover-bg: #9337de;
   --bs-btn-hover-border-color: #9337de;
   --bs-btn-focus-shadow-rgb: 49, 132, 253;
   --bs-btn-active-color: #fff;
   --bs-btn-active-bg: #780bd7;
   --bs-btn-active-border-color: #470abe;
   --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
   --bs-btn-disabled-color: #fff;
   --bs-btn-disabled-bg: #4b3360;
   --bs-btn-disabled-border-color: #4b3360;
}

.btn-custom-secondary {
   --bs-btn-color: #fff;
   --bs-btn-bg: #2f2a64;
   --bs-btn-border-color: #2f2a64;
   --bs-btn-hover-color: #fff;
   --bs-btn-hover-bg: #554e9e;
   --bs-btn-hover-border-color: #554e9e;
   --bs-btn-focus-shadow-rgb: 49, 132, 253;
   --bs-btn-active-color: #fff;
   --bs-btn-active-bg: #554e9e;
   --bs-btn-active-border-color: #2d205c;
   --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
   --bs-btn-disabled-color: #fff;
   --bs-btn-disabled-bg: #2f2a64;
   --bs-btn-disabled-border-color: #2f2a64;
}

.bg-primary-custom {
   background-color: var(--custom-color-brand);
}

.btn-danger {
   --bs-btn-color: #fff;
   --bs-btn-bg: #ea8993;
   --bs-btn-border-color: #ea8993;
   --bs-btn-hover-color: #fff;
   --bs-btn-hover-bg: #e37a85;
   --bs-btn-hover-border-color: #e37a85;
   --bs-btn-focus-shadow-rgb: 225, 83, 97;
   --bs-btn-active-color: #fff;
   --bs-btn-active-bg: #e26975;
   --bs-btn-active-border-color: #e26975;
   --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
   --bs-btn-disabled-color: #fff;
   --bs-btn-disabled-bg: #ea8993;
   --bs-btn-disabled-border-color: #ea8993;
}

.card-title-text {
   position: relative;
}

.card-title-text::before {
   content: "";
   position: absolute;
   height: 7px;
   width: 167px;
   bottom: -3px;
   border-radius: 5px;
   background: linear-gradient(90deg,
         rgba(15, 11, 59, 1) 0%,
         rgba(47, 42, 100, 1) 48%,
         rgba(86, 81, 142, 1) 100%);
}

label {
   font-size: 20px;
   font-weight: 600px;
}

.inputfield input,
.inputfield select,
.inputfield textarea {
   width: 100%;
   outline: none;
   font-size: 16px;
   border: 1px solid #ccc;
   color: #000;
   border-width: 0 0 4px 0;
   transition: border 0.5s ease-in-out;
}

.inputfield input:focus,
.inputfield select:focus,
.inputfield textarea:focus {
   border-color: #573b8a;
}

.bg-background {
   color: #fff;
   background: linear-gradient(45deg,
         #da94fb,
         #af66d1,
         #9647bb,
         #4739c5,
         #3222bb,
         #160d6f,
         #09014bed);
   animation: gradient 12s linear infinite;
   animation-direction: alternate;
   background-size: 400% 700%;
}

@keyframes gradient {
   0% {
      background-position: 0%;
   }

   100% {
      background-position: 100%;
   }
}

.mr-auto {
   margin-right: auto;
}